<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @customer.id %>
</p>

<p>
  <strong>Personal cd:</strong>
  <%= @customer.personal_cd %>
</p>

<p>
  <strong>Parent customer:</strong>
  <%= @customer.parent_customer_id %>
</p>

<p>
  <strong>Member store cd:</strong>
  <%= @customer.member_store_cd %>
</p>

<p>
  <strong>Charge cd:</strong>
  <%= @customer.charge_cd %>
</p>

<p>
  <strong>Customer nm:</strong>
  <%= @customer.customer_nm %>
</p>

<p>
  <strong>Customer kana:</strong>
  <%= @customer.customer_kana %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @customer.customer_type %>
</p>

<p>
  <strong>Is manage company:</strong>
  <%= @customer.is_manage_company %>
</p>

<p>
  <strong>President nm:</strong>
  <%= @customer.president_nm %>
</p>

<p>
  <strong>Post:</strong>
  <%= @customer.post %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @customer.birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @customer.sex %>
</p>

<p>
  <strong>Zip cd:</strong>
  <%= @customer.zip_cd %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @customer.addr1 %>
</p>

<p>
  <strong>Addr2:</strong>
  <%= @customer.addr2 %>
</p>

<p>
  <strong>Addr3:</strong>
  <%= @customer.addr3 %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @customer.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @customer.fax %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @customer.mobile_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Si owner f:</strong>
  <%= @customer.si_owner_f %>
</p>

<p>
  <strong>Si client f:</strong>
  <%= @customer.si_client_f %>
</p>

<p>
  <strong>Bb owner f:</strong>
  <%= @customer.bb_owner_f %>
</p>

<p>
  <strong>Bb agency f:</strong>
  <%= @customer.bb_agency_f %>
</p>

<p>
  <strong>Note:</strong>
  <%= @customer.note %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @customer.create_user_id %>
</p>

<p>
  <strong>Update user:</strong>
  <%= @customer.update_user_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @customer.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @customer.updated_at %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
