<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @contract.id %>
</p>

<p>
  <strong>Kintone:</strong>
  <%= @contract.kintone_id %>
</p>

<p>
  <strong>Hikari contract no:</strong>
  <%= @contract.hikari_contract_no %>
</p>

<p>
  <strong>Charge cd:</strong>
  <%= @contract.charge_cd %>
</p>

<p>
  <strong>Contract status:</strong>
  <%= @contract.contract_status %>
</p>

<p>
  <strong>Contract date:</strong>
  <%= @contract.contract_date %>
</p>

<p>
  <strong>Hikari contract no reading:</strong>
  <%= @contract.hikari_contract_no_reading %>
</p>

<p>
  <strong>Mypage password:</strong>
  <%= @contract.mypage_password %>
</p>

<p>
  <strong>Mypage password reading:</strong>
  <%= @contract.mypage_password_reading %>
</p>

<p>
  <strong>Personal identification doc:</strong>
  <%= @contract.personal_identification_doc %>
</p>

<p>
  <strong>Tnp file 1 nm:</strong>
  <%= @contract.tnp_file_1_nm %>
</p>

<p>
  <strong>Tnp file 2 nm:</strong>
  <%= @contract.tnp_file_2_nm %>
</p>

<p>
  <strong>Tnp file 3 nm:</strong>
  <%= @contract.tnp_file_3_nm %>
</p>

<p>
  <strong>Reject reason 1:</strong>
  <%= @contract.reject_reason_1 %>
</p>

<p>
  <strong>Reject reason other 1:</strong>
  <%= @contract.reject_reason_other_1 %>
</p>

<p>
  <strong>Reject reason 2:</strong>
  <%= @contract.reject_reason_2 %>
</p>

<p>
  <strong>Reject reason other 2:</strong>
  <%= @contract.reject_reason_other_2 %>
</p>

<p>
  <strong>Reject reason 3:</strong>
  <%= @contract.reject_reason_3 %>
</p>

<p>
  <strong>Reject reason other 3:</strong>
  <%= @contract.reject_reason_other_3 %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contract.customer_id %>
</p>

<p>
  <strong>Manage company:</strong>
  <%= @contract.manage_company_id %>
</p>

<p>
  <strong>Dest:</strong>
  <%= @contract.dest_id %>
</p>

<p>
  <strong>Dest tel:</strong>
  <%= @contract.dest_tel %>
</p>

<p>
  <strong>Dest place same f:</strong>
  <%= @contract.dest_place_same_f %>
</p>

<p>
  <strong>Dest tel nominee:</strong>
  <%= @contract.dest_tel_nominee %>
</p>

<p>
  <strong>Dest tel nominee relationship:</strong>
  <%= @contract.dest_tel_nominee_relationship %>
</p>

<p>
  <strong>Dest tel nominee sei kanji:</strong>
  <%= @contract.dest_tel_nominee_sei_kanji %>
</p>

<p>
  <strong>Dest tel nominee mei kanji:</strong>
  <%= @contract.dest_tel_nominee_mei_kanji %>
</p>

<p>
  <strong>Dest tel nominee sei kana:</strong>
  <%= @contract.dest_tel_nominee_sei_kana %>
</p>

<p>
  <strong>Dest tel nominee mei kana:</strong>
  <%= @contract.dest_tel_nominee_mei_kana %>
</p>

<p>
  <strong>Application date:</strong>
  <%= @contract.application_date %>
</p>

<p>
  <strong>Notice delivered f:</strong>
  <%= @contract.notice_delivered_f %>
</p>

<p>
  <strong>New diversion:</strong>
  <%= @contract.new_diversion %>
</p>

<p>
  <strong>Diversion appr no:</strong>
  <%= @contract.diversion_appr_no %>
</p>

<p>
  <strong>Diversion appr no get date:</strong>
  <%= @contract.diversion_appr_no_get_date %>
</p>

<p>
  <strong>Penalty for diversion:</strong>
  <%= @contract.penalty_for_diversion %>
</p>

<p>
  <strong>Ntt recept no:</strong>
  <%= @contract.ntt_recept_no %>
</p>

<p>
  <strong>Arena so no:</strong>
  <%= @contract.arena_so_no %>
</p>

<p>
  <strong>Caf no:</strong>
  <%= @contract.caf_no %>
</p>

<p>
  <strong>Caf no reading:</strong>
  <%= @contract.caf_no_reading %>
</p>

<p>
  <strong>Access key:</strong>
  <%= @contract.access_key %>
</p>

<p>
  <strong>Access key reading:</strong>
  <%= @contract.access_key_reading %>
</p>

<p>
  <strong>Item plan:</strong>
  <%= @contract.item_plan_id %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @contract.service_type_id %>
</p>

<p>
  <strong>Initial installment f:</strong>
  <%= @contract.initial_installment_f %>
</p>

<p>
  <strong>Pack appl exists:</strong>
  <%= @contract.pack_appl_exists %>
</p>

<p>
  <strong>Leqmo:</strong>
  <%= @contract.leqmo_id %>
</p>

<p>
  <strong>Leqmo phone no:</strong>
  <%= @contract.leqmo_phone_no %>
</p>

<p>
  <strong>Isp account:</strong>
  <%= @contract.isp_account %>
</p>

<p>
  <strong>Isp account reading:</strong>
  <%= @contract.isp_account_reading %>
</p>

<p>
  <strong>Isp password:</strong>
  <%= @contract.isp_password %>
</p>

<p>
  <strong>Isp password reading:</strong>
  <%= @contract.isp_password_reading %>
</p>

<p>
  <strong>Movie type:</strong>
  <%= @contract.movie_type_id %>
</p>

<p>
  <strong>Leqmovie login:</strong>
  <%= @contract.leqmovie_login_id %>
</p>

<p>
  <strong>Leqmovie login id reading:</strong>
  <%= @contract.leqmovie_login_id_reading %>
</p>

<p>
  <strong>Leqmovie password:</strong>
  <%= @contract.leqmovie_password %>
</p>

<p>
  <strong>Leqmovie password reading:</strong>
  <%= @contract.leqmovie_password_reading %>
</p>

<p>
  <strong>Gift code:</strong>
  <%= @contract.gift_code %>
</p>

<p>
  <strong>O hikari tel ace f:</strong>
  <%= @contract.o_hikari_tel_ace_f %>
</p>

<p>
  <strong>O hikari tel f:</strong>
  <%= @contract.o_hikari_tel_f %>
</p>

<p>
  <strong>O number display f:</strong>
  <%= @contract.o_number_display_f %>
</p>

<p>
  <strong>O number request f:</strong>
  <%= @contract.o_number_request_f %>
</p>

<p>
  <strong>O catch phone f:</strong>
  <%= @contract.o_catch_phone_f %>
</p>

<p>
  <strong>O auto transfer f:</strong>
  <%= @contract.o_auto_transfer_f %>
</p>

<p>
  <strong>O nuisance call block f:</strong>
  <%= @contract.o_nuisance_call_block_f %>
</p>

<p>
  <strong>O missed call notify mail f:</strong>
  <%= @contract.o_missed_call_notify_mail_f %>
</p>

<p>
  <strong>O tv phone f:</strong>
  <%= @contract.o_tv_phone_f %>
</p>

<p>
  <strong>O hq sound phone f:</strong>
  <%= @contract.o_hq_sound_phone_f %>
</p>

<p>
  <strong>O data connect f:</strong>
  <%= @contract.o_data_connect_f %>
</p>

<p>
  <strong>O remote service f:</strong>
  <%= @contract.o_remote_service_f %>
</p>

<p>
  <strong>O mail f 1:</strong>
  <%= @contract.o_mail_f_1 %>
</p>

<p>
  <strong>O first choice account 1:</strong>
  <%= @contract.o_first_choice_account_1 %>
</p>

<p>
  <strong>O second choice account 1:</strong>
  <%= @contract.o_second_choice_account_1 %>
</p>

<p>
  <strong>O regist account 1:</strong>
  <%= @contract.o_regist_account_1 %>
</p>

<p>
  <strong>O mail f 2:</strong>
  <%= @contract.o_mail_f_2 %>
</p>

<p>
  <strong>O first choice account 2:</strong>
  <%= @contract.o_first_choice_account_2 %>
</p>

<p>
  <strong>O second choice account 2:</strong>
  <%= @contract.o_second_choice_account_2 %>
</p>

<p>
  <strong>O regist account 2:</strong>
  <%= @contract.o_regist_account_2 %>
</p>

<p>
  <strong>O mail f 3:</strong>
  <%= @contract.o_mail_f_3 %>
</p>

<p>
  <strong>O first choice account 3:</strong>
  <%= @contract.o_first_choice_account_3 %>
</p>

<p>
  <strong>O second choice account 3:</strong>
  <%= @contract.o_second_choice_account_3 %>
</p>

<p>
  <strong>O regist account 3:</strong>
  <%= @contract.o_regist_account_3 %>
</p>

<p>
  <strong>O mail f 4:</strong>
  <%= @contract.o_mail_f_4 %>
</p>

<p>
  <strong>O first choice account 4:</strong>
  <%= @contract.o_first_choice_account_4 %>
</p>

<p>
  <strong>O second choice account 4:</strong>
  <%= @contract.o_second_choice_account_4 %>
</p>

<p>
  <strong>O regist account 4:</strong>
  <%= @contract.o_regist_account_4 %>
</p>

<p>
  <strong>O mail f 5:</strong>
  <%= @contract.o_mail_f_5 %>
</p>

<p>
  <strong>O first choice account 5:</strong>
  <%= @contract.o_first_choice_account_5 %>
</p>

<p>
  <strong>O second choice account 5:</strong>
  <%= @contract.o_second_choice_account_5 %>
</p>

<p>
  <strong>O regist account 5:</strong>
  <%= @contract.o_regist_account_5 %>
</p>

<p>
  <strong>O mail f 6:</strong>
  <%= @contract.o_mail_f_6 %>
</p>

<p>
  <strong>O first choice account 6:</strong>
  <%= @contract.o_first_choice_account_6 %>
</p>

<p>
  <strong>O second choice account 6:</strong>
  <%= @contract.o_second_choice_account_6 %>
</p>

<p>
  <strong>O regist account 6:</strong>
  <%= @contract.o_regist_account_6 %>
</p>

<p>
  <strong>O mail f 7:</strong>
  <%= @contract.o_mail_f_7 %>
</p>

<p>
  <strong>O first choice account 7:</strong>
  <%= @contract.o_first_choice_account_7 %>
</p>

<p>
  <strong>O second choice account 7:</strong>
  <%= @contract.o_second_choice_account_7 %>
</p>

<p>
  <strong>O regist account 7:</strong>
  <%= @contract.o_regist_account_7 %>
</p>

<p>
  <strong>O mail f 8:</strong>
  <%= @contract.o_mail_f_8 %>
</p>

<p>
  <strong>O first choice account 8:</strong>
  <%= @contract.o_first_choice_account_8 %>
</p>

<p>
  <strong>O second choice account 8:</strong>
  <%= @contract.o_second_choice_account_8 %>
</p>

<p>
  <strong>O regist account 8:</strong>
  <%= @contract.o_regist_account_8 %>
</p>

<p>
  <strong>O mail f 9:</strong>
  <%= @contract.o_mail_f_9 %>
</p>

<p>
  <strong>O first choice account 9:</strong>
  <%= @contract.o_first_choice_account_9 %>
</p>

<p>
  <strong>O second choice account 9:</strong>
  <%= @contract.o_second_choice_account_9 %>
</p>

<p>
  <strong>O regist account 9:</strong>
  <%= @contract.o_regist_account_9 %>
</p>

<p>
  <strong>O mail f 10:</strong>
  <%= @contract.o_mail_f_10 %>
</p>

<p>
  <strong>O first choice account 10:</strong>
  <%= @contract.o_first_choice_account_10 %>
</p>

<p>
  <strong>O second choice account 10:</strong>
  <%= @contract.o_second_choice_account_10 %>
</p>

<p>
  <strong>O regist account 10:</strong>
  <%= @contract.o_regist_account_10 %>
</p>

<p>
  <strong>Ntt const reseach date:</strong>
  <%= @contract.ntt_const_reseach_date %>
</p>

<p>
  <strong>Opt const date:</strong>
  <%= @contract.opt_const_date %>
</p>

<p>
  <strong>Initial contract charge:</strong>
  <%= @contract.initial_contract_charge %>
</p>

<p>
  <strong>Circuit charge without tax:</strong>
  <%= @contract.circuit_charge_without_tax %>
</p>

<p>
  <strong>Billing method:</strong>
  <%= @contract.billing_method %>
</p>

<p>
  <strong>Billing:</strong>
  <%= @contract.billing_id %>
</p>

<p>
  <strong>Billing destination:</strong>
  <%= @contract.billing_destination %>
</p>

<p>
  <strong>Payment agency appl date:</strong>
  <%= @contract.payment_agency_appl_date %>
</p>

<p>
  <strong>Credit customer no:</strong>
  <%= @contract.credit_customer_no %>
</p>

<p>
  <strong>Credit additional no:</strong>
  <%= @contract.credit_additional_no %>
</p>

<p>
  <strong>Bank cd:</strong>
  <%= @contract.bank_cd %>
</p>

<p>
  <strong>Bank nm:</strong>
  <%= @contract.bank_nm %>
</p>

<p>
  <strong>Bank kana:</strong>
  <%= @contract.bank_kana %>
</p>

<p>
  <strong>Branch cd:</strong>
  <%= @contract.branch_cd %>
</p>

<p>
  <strong>Branch nm:</strong>
  <%= @contract.branch_nm %>
</p>

<p>
  <strong>Branch kana:</strong>
  <%= @contract.branch_kana %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @contract.account_number %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @contract.account_type %>
</p>

<p>
  <strong>Account holder nm:</strong>
  <%= @contract.account_holder_nm %>
</p>

<p>
  <strong>Account holder kana:</strong>
  <%= @contract.account_holder_kana %>
</p>

<p>
  <strong>Japan post kigou:</strong>
  <%= @contract.japan_post_kigou %>
</p>

<p>
  <strong>Japan post bangou:</strong>
  <%= @contract.japan_post_bangou %>
</p>

<p>
  <strong>Billing zip cd:</strong>
  <%= @contract.billing_zip_cd %>
</p>

<p>
  <strong>Billing addr1:</strong>
  <%= @contract.billing_addr1 %>
</p>

<p>
  <strong>Billing addr2:</strong>
  <%= @contract.billing_addr2 %>
</p>

<p>
  <strong>Billing addr3:</strong>
  <%= @contract.billing_addr3 %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @contract.create_user_id %>
</p>

<p>
  <strong>Update user:</strong>
  <%= @contract.update_user_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @contract.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @contract.updated_at %>
</p>

<p>
  <strong>Billing destination nm:</strong>
  <%= @contract.billing_destination_nm %>
</p>

<p>
  <strong>Leqmovie unext manage:</strong>
  <%= @contract.leqmovie_unext_manage_id %>
</p>

<p>
  <strong>Credit authorize res code:</strong>
  <%= @contract.credit_authorize_res_code %>
</p>

<p>
  <strong>Credit authorize result:</strong>
  <%= @contract.credit_authorize_result %>
</p>

<p>
  <strong>Billing start date:</strong>
  <%= @contract.billing_start_date %>
</p>

<p>
  <strong>Construct note:</strong>
  <%= @contract.construct_note %>
</p>

<p>
  <strong>Cancel reason:</strong>
  <%= @contract.cancel_reason %>
</p>

<p>
  <strong>Cancel recept date:</strong>
  <%= @contract.cancel_recept_date %>
</p>

<p>
  <strong>Cancel date:</strong>
  <%= @contract.cancel_date %>
</p>

<p>
  <strong>Cancel reason note:</strong>
  <%= @contract.cancel_reason_note %>
</p>

<p>
  <strong>Retraction f:</strong>
  <%= @contract.retraction_f %>
</p>

<p>
  <strong>Dest room no:</strong>
  <%= @contract.dest_room_no %>
</p>

<p>
  <strong>Service stop date:</strong>
  <%= @contract.service_stop_date %>
</p>

<p>
  <strong>Ntt system input date:</strong>
  <%= @contract.ntt_system_input_date %>
</p>

<p>
  <strong>Entry cancel date:</strong>
  <%= @contract.entry_cancel_date %>
</p>

<p>
  <strong>Identification ng date:</strong>
  <%= @contract.identification_ng_date %>
</p>

<p>
  <strong>Open ng date:</strong>
  <%= @contract.open_ng_date %>
</p>

<p>
  <strong>Identification doc approval:</strong>
  <%= @contract.identification_doc_approval %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @contract.fee_id %>
</p>

<p>
  <strong>O home gateway f:</strong>
  <%= @contract.o_home_gateway_f %>
</p>

<p>
  <strong>Prev movie type:</strong>
  <%= @contract.prev_movie_type_id %>
</p>

<p>
  <strong>Plan change recept date:</strong>
  <%= @contract.plan_change_recept_date %>
</p>

<p>
  <strong>Plan change date:</strong>
  <%= @contract.plan_change_date %>
</p>

<p>
  <strong>Prev leqmovie unext manage:</strong>
  <%= @contract.prev_leqmovie_unext_manage_id %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
