<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :personal_cd %><br>
    <%= f.text_field :personal_cd %>
  </div>
  <div class="field">
    <%= f.label :parent_customer_id %><br>
    <%= f.number_field :parent_customer_id %>
  </div>
  <div class="field">
    <%= f.label :member_store_cd %><br>
    <%= f.text_field :member_store_cd %>
  </div>
  <div class="field">
    <%= f.label :charge_cd %><br>
    <%= f.text_field :charge_cd %>
  </div>
  <div class="field">
    <%= f.label :customer_nm %><br>
    <%= f.text_field :customer_nm %>
  </div>
  <div class="field">
    <%= f.label :customer_kana %><br>
    <%= f.text_field :customer_kana %>
  </div>
  <div class="field">
    <%= f.label :customer_type %><br>
    <%= f.text_field :customer_type %>
  </div>
  <div class="field">
    <%= f.label :is_manage_company %><br>
    <%= f.text_field :is_manage_company %>
  </div>
  <div class="field">
    <%= f.label :president_nm %><br>
    <%= f.text_field :president_nm %>
  </div>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%= f.date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :zip_cd %><br>
    <%= f.text_field :zip_cd %>
  </div>
  <div class="field">
    <%= f.label :addr1 %><br>
    <%= f.text_field :addr1 %>
  </div>
  <div class="field">
    <%= f.label :addr2 %><br>
    <%= f.text_field :addr2 %>
  </div>
  <div class="field">
    <%= f.label :addr3 %><br>
    <%= f.text_field :addr3 %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %><br>
    <%= f.text_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :si_owner_f %><br>
    <%= f.text_field :si_owner_f %>
  </div>
  <div class="field">
    <%= f.label :si_client_f %><br>
    <%= f.text_field :si_client_f %>
  </div>
  <div class="field">
    <%= f.label :bb_owner_f %><br>
    <%= f.text_field :bb_owner_f %>
  </div>
  <div class="field">
    <%= f.label :bb_agency_f %><br>
    <%= f.text_field :bb_agency_f %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :create_user_id %><br>
    <%= f.number_field :create_user_id %>
  </div>
  <div class="field">
    <%= f.label :update_user_id %><br>
    <%= f.number_field :update_user_id %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
