<!DOCTYPE html>
<html>
<head>
  <title>Pundit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'users', '/users' %>
<br/>
<%= link_to 'customers', customers_path %>
<br/>
<%= link_to 'logout', users_destroy_path, :method => :delete %>
<br/>
<p align="center"> <%= controller.env['warden'].user(:user).try(:name) %> <p>

<%= yield %>

</body>
</html>
